html {
	scroll-behavior: smooth;
	background-color: var(--page-bg);
}

body {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	font-family: DrukBold;
	overflow-x: hidden;
}

main {
	flex-grow: 1;
	margin-top: 108px;

	@media (max-width: 1024px) {
		margin-top: 90px;
	}

	@media (max-width: 768px) {
		margin-top: 90px;
	}

	@media (max-width: 426px) {
		margin-top: 68px;
	}

}

a,
span,
button,
h1,
h2,
h3,
h4 {
	text-transform: uppercase;
}

button,
a {
	transition: all .12s ease-in-out;
}