:root {
	--container-width: 100%;
	--container-padding: 20px;
	--page-bg: #ECECEC;

	--font-main: DrukBold, helvetica;

	--color-accent: #F36722;
	--color-green: #2E8D43;

	--index: calc(1vw + 1vh);
}

.dark {
	--page-bg: #252526;
	--text-color: #fff;
}