.footer {
  position: relative;

  &__wrapper {
    border-top: 1px solid #202020;
    padding-top: 35px;
    max-height: 655px;
    aspect-ratio: 0.5 / 1;
    width: 100%;
  }

  &__title {
    font-size: clamp(1.25rem, 0.9rem + 1.75vw, 3rem);
    margin-bottom: 32px;
    max-width: 50%;
  }

  &__links {
    display: flex;
    gap: 37px;

    @media (max-width: 490px) {
      flex-direction: column;
    }

  }

  &__sign {
    position: absolute;
    bottom: 38px;
    left: 20px;
    font-size: 12px;

    @media (max-width: 1024px) {
      left: 12px;
    }

    @media (max-width: 490px) {
      font-size: 10px;
    }

  }

  &-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 36%;
    max-width: 991px;
    height: auto;
    transition: all .2s ease;
    max-height: 600px;

    @media (max-width: 490px) {
      bottom: 59px;
      width: 50%;
      max-width: 216px;
    }

  }

}