.header-mobile {

  .header__wrapper {
    padding: 8px 12px;
  }

  &__burger {
    button>img {
      width: 32px;
      height: 32px;
    }
  }

  &__avatar {
    width: 32px;
    height: 32px;
  }
}