.home-play-section {
  margin-bottom: 120px;

  @media (max-width: 768px) {
    margin-bottom: 42px;
  }

  .play__info {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 64px;

    @media (max-width: 768px) {
      margin-bottom: 21px;
    }

    .play__title {
      font-size: clamp(1.625rem, 0.95rem + 3.385vw, 5rem);
    }

    .play__link-box {
      position: relative;
      width: 170px;
      height: 20px;


      &::after {
        content: '';
        position: absolute;
        top: -2px;
        right: 0;
        width: 24px;
        height: 24px;
        background-image: url('../../img/right_arrow-accent.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      .play__link {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        flex-grow: unset;
        margin-bottom: 12px;
        color: var(--color-accent);
      }

    }

  }

  .play__cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 9px;

    @media (max-width: 768px) {
      flex-direction: column;
    }

  }

  .play__card {
    position: relative;
    width: 33.333%;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    min-height: 650px;
    max-height: 784px;
    aspect-ratio: 0.75 / 1;
    display: flex;
    flex-direction: column;
    transition: all .24s ease-in-out;

    @media (max-width: 1024px) {
      border-radius: 9.53px;
      min-height: 500px;
      aspect-ratio: 0.75 / 1;
    }

    @media (max-width: 768px) {
      width: 100%;
    }

    @media (max-width: 490px) {
      min-height: 446px;
      aspect-ratio: 0.82 / 1;
    }

    &:hover {
      background-color: #202020;

      .play-card__img {
        margin-top: -70px;

        @media (max-width: 490px) {
          margin-top: -80px;
        }

      }

      .play-card__content {
        bottom: 120px;
        color: #fff;

        @media (max-width: 1024px) {
          bottom: 105px;
        }

        @media (max-width: 490px) {
          bottom: 90px;
        }

      }

      .play-card__text {
        color: #fff;
      }

      .play-card__link {
        bottom: 24px;
      }
    }

    .play-card__link {
      position: absolute;
      bottom: -100%;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 48px);
      display: flex;
      background-color: var(--color-accent);
      border-radius: 16px;
      padding: 20px 24px 22px;
      color: #fff;
      transition: all .32s ease-in-out;
      border: 2px solid transparent;

      @media (max-width: 1024px) {
        padding: 10px 14px 10px;
        font-size: 14px;
      }

      @media (max-width: 490px) {
        width: calc(100% - 24px);
        padding: 10px 14px 10px;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
        border-color: #fff;
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 24px;
        width: 24px;
        height: 24px;
        background-image: url('../../img/right_arrow.svg');
        background-position: 0 0;
        background-size: contain;
        background-repeat: no-repeat;
        transform: translateY(-50%);

        @media (max-width: 1024px) {
          right: 12px;
        }

      }

    }

    .play-card__content {
      position: absolute;
      bottom: 24px;
      left: 24px;
      right: 24px;
      transition: all .24s ease-in-out;

      @media (max-width: 490px) {
        left: 12px;
        right: 12px;
        bottom: 12px;
      }

    }

    .play-card__img {
      display: block;
      margin-bottom: 30px;
      transition: all .3s ease-in-out;

      @media (max-width: 490px) {
        margin-top: -20px;
      }

      img {
        float: right;
        max-height: 520px;

        @media (max-width: 768px) {
          max-height: 600px;
          width: 100%;
          object-fit: cover;
        }

        @media (max-width: 490px) {
          max-height: 500px;
        }

      }

    }

    .play-card__title {
      font-size: clamp(1.25rem, 1.1rem + 0.75vw, 2rem);
      margin-bottom: 16px;

      @media (max-width: 1024px) {
        font-size: clamp(1.25rem, 1.1rem + 0.75vw, 1.2rem);
      }

    }

    .play-card__text {
      font-family: Inter, sans-serif;
      max-width: 80%;
      color: #202020;
      font-weight: 500;
      font-size: clamp(14px, 1.1vw, 16px);
      line-height: 1.6;
      transition: all .24s ease-in-out;

      @media (max-width: 1024px) {
        max-width: unset;
        // font-size: 14px;
      }

    }

    .play-card__ball {
      width: 100%;
      aspect-ratio: 1 / 1;
      max-height: 520px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -90px;
        width: 100%;
        height: 100%;
        background-image: url('../../img/card2.webp');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: all .3s ease-in-out;
      }

    }

  }
}