.qr-code {
  position: absolute;
  top: 65px;
  right: 16%;
  z-index: 2;
  background-color: #fff;
  max-width: 352px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  text-align: center;
  padding: 44px;
  border-radius: 29.79px;
  // min-height: 401px;

  &__picture {
    margin-bottom: 36px;
  }

  &__tag {
    display: block;
    font-size: 16px;
    font-family: Inter, sans-serif;
    text-transform: capitalize;
    margin-bottom: 16px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 14px;
  }

}