.resources {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .resources-item {
    margin-bottom: 20px;

    &__title {
      text-overflow: ellipsis;
      max-height: 136px;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (max-width: 1440px) {
        font-size: 14px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__link-box {
      position: relative;
      width: fit-content;
      margin-bottom: 18%;

      @media (max-width: 1024px) {
        margin-bottom: 60px;
      }

      &:hover {
        &::before {
          right: 0;
          z-index: 2;
          right: -35px;
          opacity: 1;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 0.5px;
        right: -25px;
        width: 24px;
        height: 24px;
        background-image: url('../../img/right_arrow-green.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: all .12s ease-in-out;
        opacity: 0;
      }
    }

    &__link {
      text-align: left;
      width: fit-content;
      font-size: 20px;

      &:hover {
        color: var(--color-green);
      }

      &::after {
        text-align: left;
        font-size: 20px;
      }

    }

    &__content {
      display: flex;
      gap: 20px;
      border-bottom: 1px solid #C4C4C4;
      padding-bottom: 20px;

      @media (max-width: 490px) {
        flex-direction: column;
      }

    }

    &__picture {
      max-width: 270px;
      min-width: 210px;
      width: 100%;
      border-radius: 7px;
      overflow: hidden;
      aspect-ratio: 16 / 9;

      @media (max-width: 768px) {
        aspect-ratio: unset;
        min-width: unset;
        width: 45%;
      }

      @media (max-width: 490px) {
        width: 100%;
        max-width: unset;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    }

    &__title {
      margin-bottom: 16px;
    }

    &__text {
      width: 95%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;

      @media (max-width: 1024px) {
        width: 50%;
      }

      @media (max-width: 490px) {
        width: 100%;
      }

    }

    &__date {
      background-color: #EFEFEF;
      font-size: 12px;
      padding: 8px 12px;
      width: fit-content;
      border-radius: 50px;

      @media (max-width: 490px) {
        padding: 0;
      }

    }

    &__tags {
      display: flex;
      gap: 4px;
      flex-wrap: wrap;
    }

    &__tag {
      background-color: #EFEFEF;
      padding: 8px 12px;
      border-radius: 50px;
      display: block;
      width: fit-content;
      font-size: 12px;

      &:last-child {
        background-color: #202020;
        color: #fff;
      }

    }

  }

  #articles {
    .resources-item__link-box {
      margin-bottom: 26%;

      @media (max-width: 1024px) {
        margin-bottom: 70px;
      }

    }

    .resources-item__title {
      max-width: 84%;
    }
  }

  #terms {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
    min-height: 230px;
  }

}